@model Soccer.Web.ViewModels.GameViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "_FormLayout";
}

<h1>Edit</h1>

<h4>Game</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-md-2">
            <div class="mb-3">
                <label asp-for="Date" class="form-label"></label>
                <input asp-for="Date" id="date" asp-validate class="form-control" disabled />
            </div>
        </div>

        <div class="col-md-2">
            <div class="mb-3">
                <label asp-for="Time" class="form-label"></label>
                <input asp-for="Time" asp-validate class="form-control" disabled />
            </div>
        </div>
    </div>

    @if(!Model.IsGameOver)
    {
        <div class="row">
            <div class="col-md-4">
                <hr />
            </div>
        </div>

        <b>Set score for each participating team:</b>
    }

    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Team</th>
                    <th>Score</th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i < Model.AllTeams.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.AllTeams[i].TeamName

                            <input asp-for="@Model.AllTeams[i].TeamName" type="hidden"/>
                            <input asp-for="@Model.AllTeams[i].TeamId" type="hidden"/>
                        </td>
                        <td>
                            @if (Model.IsGameOver)
                            {
                                @Model.AllTeams[i].Score
                            }
                            else
                            {
                                <input asp-for="@Model.AllTeams[i].Score" class="form-control"/>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            
            @if (Model.IsGameOver)
            {
                <div class="alert alert-primary mt-2 mb-2" role="alert">
                    This game is over.
                </div>
            }
            else
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="IsGameOver">
                    <label class="form-check-label" asp-for="IsGameOver"></label>
                </div>
            }
        </div>
    </div>

    <div class="mt-4">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
</form>


<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>

@section FormScripts {
    <script type="text/javascript">
        $(function () {
            $('#date').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "yyyy-mm-dd",
                language: "tr"
            });
        });
    </script>
}
